&i2c0 {
    status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

    scd41@62 {
        compatible = "sensirion,scd41";
        reg = <0x62>;
        label = "SCD41";
        mode =<0>; // or "low_power", "single_shot"
    };

    ccs811: ccs811@5a {
        compatible = "ams,ccs811";
        reg = <0x5a>;
        label = "CCS811";
        irq-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
        wake-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
        reset-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
        };
};