&i2c0 {
    status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

    sps30@69 {
        status = "okay";
        compatible = "sensirion,sps30";
        reg = <0x69>;
        model = "sps30";
    };
};